.modal-dialog {
    max-width: 800px;
    min-height: 760px;
    background: #f7f9f9;
}

.modal-content {
    padding: 24px 216px 21px 198px;
    /* max-width: 800px;
    min-height: 760px; */
}

.heading {
    display: flex;
    margin: 20px 8px;
}
    .heading p {
        font-size: 11px;
        font-weight: bold;
    }
    .heading img {
        width: 95%;
    }
    .heading a {
        width: 40%;
    }
    .heading p {
        margin: 0;
    }

.modal-header {
    align-items: center;
    background: #f7f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
}   
.modal-title {
    font-size: 26px;
}


    