@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-bold.woff2') format('woff2'),
         url('../fonts/gravity-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-bolditalic.woff2') format('woff2'),
         url('../fonts/gravity-bolditalic.woff') format('woff');
    font-weight:  700;
    font-style: italic;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-book.woff2') format('woff2'),
         url('../fonts/gravity-book.woff') format('woff');
    font-weight: 350;
    font-style: normal;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-bookitalic.woff2') format('woff2'),
         url('../fonts/gravity-bookitalic.woff') format('woff');
    font-weight: 350;
    font-style: italic;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-italic.woff2') format('woff2'),
         url('../fonts/gravity-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-light.woff2') format('woff2'),
         url('../fonts/gravity-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-lightitalic.woff2') format('woff2'),
         url('../fonts/gravity-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-regular.woff2') format('woff2'),
         url('../fonts/gravity-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-ultralight.woff2') format('woff2'),
         url('../fonts/gravity-ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity-ultralightitalic.woff2') format('woff2'),
         url('../fonts/gravity-ultralightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

body {
    font-family: "Gravity" !important;
}

.bd-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1072;
    display: block;
}

.modal-backdrop {
    background-color: #2c3756;
}

.modal-backdrop.show {
    opacity: .3;
}

.modal-content {
    border-radius: 8px;
    box-shadow: 0 16px 32px 0 rgba(43, 55, 86, 0.3);
    background-color: #f7f9f9;
    border-width: 0;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #2c3756;
    height: calc(2.25rem + 8px);
    color: #2c3756;
    padding: 10px 16px;
}
.form-control:focus, .form-control:active {
    color: #2c3756;
    border-color: #2c3756;
    outline: 0;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #979dab;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #979dab;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #979dab;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #979dab;
}
.custom-select {
    border-radius: 4px;
    border: 1px solid #2c3756;
    height: calc(2.25rem + 8px);
    color: #2c3756;
    padding: 10px 16px;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 13.586l5.293-5.293a1 1 0 0 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 1.414-1.414L12 13.586z' fill='%232B3756' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat right 8px center;
    background-size: 24px 22px;
}
.custom-select:focus {
    border-color: #2c3756;
    box-shadow: none;
}
.custom-control-label::before {
    top: 2px;
    left: -24px;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: solid 1px #2c3756;
    background-color: #ffffff;
}
.custom-control-label::after {
    top: 2px;
    left: -24px;
    width: 22px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: -3px -3px;
    background-size: 23px;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.custom-control-input:active~.custom-control-label::before {
    background: #fff;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #fff;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 13.586l9.293-9.293a1 1 0 0 1 1.414 1.414l-10 10a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 1.414-1.414L12 13.586z' fill='%23E02828' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.modal-header {
    border-bottom-width: 0;
    padding-bottom: 0 !important;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.modal-body {
    padding: 0;
}
.modal-footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-tabs{
    border-bottom-width: 0;
}
.nav-tabs .nav-item {
    margin-bottom: 0;
}
.nav-tabs .nav-link {
    border-width: 0 0 2px 0;
    color: #979dab;
    /* padding: 16px 0; */
    font-weight: 700;
    font-size: 18px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2c3756;
    border-color: #2a3655;
}

.btn {
    border-radius: 22px;
    height: 44px;
    padding: 8px 47.5px;
}
.btn:focus, .btn:active {
    box-shadow: none !important;
}
.btn-success {
    background-color: #2aac4a;
}

/*Модальное окно входа*/
.modal__input .modal-body{
    display: flex;
    flex-direction: column;
}
    .modal__input h3{
        text-align: center;
    }
    .modal-close{
        padding-bottom: 0 !important;
    }
        .modal .row > div{
            margin: auto;
        }
            .modal h3{
                margin-bottom: 24px;
            }
            .form__modal button{
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 16px;
                width: 100%;
            }
.btn-normal{
    color: #fff;
    background: #2c3756;
}
    .modal__input .modal-footer a{
        color: #2c3756;
    }
.alert{
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #e02828;
}
.error-message{
    padding: 16px 0;
    margin-left: -24px;
    margin-right: -24px; 
    color: #e02828;
    background: rgba(242, 208, 208, .5);
}
    .error-message p{
        margin: 0 auto;
        text-align: center;
        width: 368px;
    }