 @font-face {
    font-family: 'Gravity';
    src: url('../font/Gravity-Book.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Gravity';
    src: url('../font/Gravity-Bold.otf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Gravity';
    src: url('../font/Gravity-Regular.otf');
    font-style: normal;
    font-weight: 500;
}
body {
    font-family: Gravity sans-serif;
    font-weight: 500;
}
a:hover {
    color: #2c3756;
    text-decoration: none;
}
/* --------- header --------- */
.header-subinfo {
    display: flex;
    padding: 18px 0;
    align-items: center;
    justify-content: space-between;
}
.header-subinfo p {
    color: #2c3756;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    margin: 0;
}
.header-subinfo a {
    color: #2c3756;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
}
.infobutton {
    position: relative;
    padding: 0 18px 0 46px;
    line-height: 44px;
    background: rgba(86, 108, 167, .2);
    border-radius: 4px;
    margin-left: 24px;
}
    .infobutton::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 16px;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        background: url("../images/video.png") no-repeat center;
        background-size: cover;
    }
.infobutton img {
    margin-right: 5px;
}
.vidget {
    position: relative;
    padding-right: 28px;
    color: #2c3756;
    font-weight: normal;
    opacity: .5;
}
    .vidget::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        background: url("../images/arrow-up.png") no-repeat center;
        background-size: cover;
    }

.arrow-down {
    display: inline-block;
    position: relative;
    right: 40px;
}

.input {
    display: block;
    height: 44px;
    width: 100%;
    border-radius: 22px;
    border: solid 1px #2c3756;
    padding: 0 24px;
    margin: 0;
}
    .input:focus{
        outline: none;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    }

.label-input{
    position: relative;
    margin: 0;
}
    .input-catalog{
        margin-right: 24px;
        width: 280px;
    }
    .search-catalog{
        margin-right: 16px;
        flex-grow: 2;
    }
.label-input a{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/arrow-down.png') no-repeat center;
    background-size: cover;
}
.search-catalog a {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/search.png') no-repeat center;
    background-size: cover;
}

.input-middle {
    width: 100%;
    background: #2c3756;
    color: #ffffff;
    margin-left: 12px;
}
.middle {
    width: 17%;
}

.input-margin {
    margin: -15px;
}

.btn {
    border-radius: 22px;
    padding: 8px 42px;
}
.btn-search {
    background: #2c3756;
    margin-left: 15px;
}
.btn-normal{
    color: #fff;
    background: #2c3756;
}

/* ---------- content --------- */

.width-content {
    max-width: 1520px;
    min-width: 1520px;
    margin: 0 auto;
}

/* ---------sidebar--------- */
.sidebar-menu {
    padding: 0;
    list-style-type: none;
}
.sidebar-menu img {
    width: 29px;
    height: 29px;
}

.sidebar-menu a {
    color: #2c3756;
    font-size: 13px;
}

.ul-margin {
    margin-top: 10px;
}

.sidebar-menu li.endli {
    border: 0;
}
.sidebar-menu li img {
    margin-right: 14px;
}
.menu-width {
    width: 192px;
}

.news-button {
    background: #ffffff;
    padding: 5px 16px;
    border-radius: 12px;
    display: inline;
    font-size: 12px;
}

.news-title {
    color: #2c3756;
    font-weight: normal;
    display: block;
}

.article-content {
    padding: 0 5px;
}
h3 {
    padding: 0;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
}

.blank-1 p {
    font-size: 16px;
    font-weight: bold;
    color: #2c3756;
    width: 167px;
}
.blank-1 h4 {
    color: #2c3756;
    font-size: 24px;
    font-weight: bold;
}

.blank-2 {
    color: #ffffff;
    padding: 24px 32px 32px 32px;
}
.blank-2 p {
    width: 180px;
}
.blank-2 h4 {
    margin-bottom: 70px;
}

.bottom-link {
    margin-top: 70px;
}

.card {
    background: #f3f3f3;
    padding: 24px 12px 12px 12px;
    border: 0;
}

.image {
    height: 120px;
    border: 1px solid black;
    margin-bottom: 12px;
}

.left {
    margin-left: 12px;
}

.right {
    margin-right: 12px;
}

.card-group {
    margin-top: 16px;
    margin-bottom: 30px;
}


.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.my-documents a, p, .my-documents {
    color: #2c3657;
}
.my-documents-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opacity{
    opacity: .5;
}

.mydoc-title{
    position: relative;
    padding-right: 28px;
}
.mydoc-title::after {
    content: '';
    background: url('../images/arrow-down.png') no-repeat center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5px;
    right: 0;
}
.show-count {
    display: flex;
    color: #2c3756;
    font-size: 14px;
    font-weight: bold;
}
.show-count span{
    display: block;
    padding-right: 7px;
}
.show-count .active {
    opacity: 1;
}
.show-count a {
    display: block;
    padding: 2px 5px 0 5px;
    opacity: 0.5;
    font-size: 12px;
}

.table-title {
    background: #e6e6e6;
    display: flex;
    padding: 7px 16px 6px 16px;
    line-height: 15px;
}
.table-title span {
    opacity: 0.5;
    font-size: 12px;
    display: block;
    line-height: 15px;
}

.table-title-name {
    width: 33%;
}
.table-title-type {
    width: 14%;
    line-height: 16px;
}
.table-title-type-1 {
    width: 11%;
    margin-left: 24px;
}
.table-title-type-2 {
    width: 11%;
    margin-left: 24px;
}

.table-content {
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.table-content span {
    display: block;
    margin-bottom: 7px;
}

.table-title-status {
    margin-left: 24px;
    display: flex;
}
/* .table-title-status span {
    display: inline-block;
} */
.table-title-status a {
    color: #ffffff;
}

.table-butn {
    line-height: 22px;
    height: 22px;
    border-radius: 12px;
    background: #2c3756;
    font-size: 13px;
    text-align: center;
    margin-left: 30px;
    padding: 0 16px;
}

.table-row {
    background: #f3f3f3;
    display: flex;
    margin-bottom: 2px;
    height: 93px;
    padding: 16px;
}


/* -------footer--------  */

.footer {
    background: #2c3756;
    padding: 24px 0;
}
.footer .row{
    justify-content: space-between;
}
    .footer__copy{
        padding-left: 0;
    }
    .footer__copy p{
        font-size: 14px;
        color: #fff;
        opacity: .5;
    }
        .footer-right {
            display: flex;
            padding-right: 0;
            justify-content: flex-end;
        }
        .footer__contacts{
            display: flex;
            flex-direction: column;
            opacity: .5;
        }
            .footer__contacts a{
                margin-bottom: 8px;
                color: #fff;
            }
            .footer__contacts img{
                margin-right: 8px;
            }
        .footer-login {
            position: relative;
            padding-left: 46px;
            padding-right: 18px;
            font-size: 18px;
            line-height: 44px;
            font-weight: bold;
            max-height: 44px;
            color: #fff;
            border-radius: 6px;
            background: rgba(86, 108, 167, .2);
        }
            .footer-login:hover {
                color: #fff;
            }
            .footer-login::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 16px;
                width: 24px;
                height: 24px;
                transform: translateY(-50%);
                background: url("../images/\ phone_6.svg") no-repeat center;
                background-size: cover; 
            }


/*Обновлено*/
.main-content{
    padding-top: 19px;
    padding-bottom: 42px;
}

/*top-menu*/
.header{
    padding: 0;
}
.header-info{
    background: #2c3756;
}
    .header-info .row{
        margin: 0 auto;
        max-width: 1700px;
    }
        .header-sitename a{
            display: flex;
            margin-top: 23px;
        }
            .header-sitename img{
                margin-right: 20px;
                height: 55px;
                width: 69px;
            }
            .title-descr{
                display: flex;
                flex-direction: column;
            }
                .title-descr h1{
                    padding-bottom: 4px;
                    margin: 0;
                    font-size: 19px;
                    line-height: 23px;
                    font-weight: normal;
                    color: #fff;
                }
                .title-descr p{
                    margin: 0;
                    font-size: 13px;
                    line-height: 15px;
                    color: #fff;
                    width: 365px;
                }
    .header-contacts{
        display: flex;
        justify-content: flex-end;
    }
        .afterline{
            position: relative;
            padding-left: 57px;
            padding-right: 24px;
            line-height: 100px;
            color: #fff;
            transition: all .3s ease;
            z-index: 2;
        }
            .afterline::after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 32px;
                width: 1px;
                background: #d8d8d8;
                opacity: .2;
            }
            .afterline img{
                position: absolute;
                top: 50%;
                left: 24px;
                transform: translateY(-50%);
                width: 24px;
            }
            .afterline p{
                margin: 0;
                color: #fff;
            }
            .afterline.icon__arrow{
                padding-right: 53px;
            }
            .afterline.icon__arrow::before{
                content: '';
                position: absolute;
                top: 50%;
                right: 24px;
                width: 24px;
                height: 24px;
                transform: translateY(-50%);
                background: url("../images/\ phone_8.svg") no-repeat center;
                background-size: cover;
                transition: all .3s ease;
            }
            .afterline:last-child:before{
                right: 0;
            }
        .header-contacts a:last-child,
        .header-login a:last-child{
            padding-right: 34px;
        }
        .header-contacts .btn-group.show .afterline{
            padding-left: 58px;
            margin-left: -1px;
            background: #3d4d76;
        }
        .header-login .btn-group.show .afterline{
            margin-left: -1px;
            background: #3d4d76;
        }
        
        .header-contacts .btn-group.show .afterline::after,
        .header-login .btn-group.show .afterline::after{
            opacity: 0;
        }
        .header-contacts .btn-group.show .icon__arrow::before,
        .header-login .btn-group.show .icon__arrow::before{
            transform: translateY(-50%) rotate(180deg);
        }
            .header-contacts .dropdown-menu,
            .header-login .dropdown-menu{
                padding: 0;
                margin: 0;
                margin-left: -1px;
                width: 260px;
                border: 0;
                box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
                z-index: 1;
            }
            .header-login .dropdown-menu{
                width: 100%;
            }
                .header-contacts .dropdown-item,
                .header-login .dropdown-item{
                    position: relative;
                    padding: 12px 24px;
                    background: #3d4d76;
                    transition: all .3s ease; 
                }
                .header-contacts .dropdown-item:hover,
                .header-login .dropdown-item:hover{
                    background: #2c3756;
                }
                .header-contacts .dropdown-item::after,
                .header-login .dropdown-item::after{
                    content: '';
                    display:  block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background: #fff;
                    opacity: .4;
                }
                .header-contacts .afterline:last-child:after,
                .header-contacts .dropdown-item:last-child:after,
                .header-login .afterline:last-child:after,
                .header-login .dropdown-item:last-child:after{
                    display: none;
                }
                    .header-contacts .dropdown-item p{
                        padding-bottom: 4px;
                        margin: 0;
                        font-size: 16px;
                        line-height: 20px;
                        color: #fff;
                    }
                    .header-login .dropdown-item{
                        color: #fff;
                    }
                    .header-contacts .dropdown-item .item__city{
                        font-weight: bold;
                    }
        .header-search{
            padding: 20px 0;
            background: #566ca7;
        }
            .header-search .btn-success{
                margin-right: 24px;
            }
            .header-search .width-content{
                display: flex;
            }
    /*header login*/
    .header-login{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
        .header-login .afterline{
            display: flex;
        }
        .login-nav,
        .login-block{
            padding-left: 24px;
        }
        .header-login ul{
            display: flex;
            margin: 0;
            list-style: none;
        }
            .header-login li a{
                padding: 0 12px;
                display: block;
                line-height: 100px;
                color: #fff;
            }
            .header-login li:last-child a{
                padding: 0;
            }
        .login-block{
            display: flex;
            padding-top: 29px;
            padding-bottom: 29px;
            align-items: center;
        }
            .login-img{
                margin-right: 12px;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background: #000;
            }
                .login-block__name{
                    font-size: 16px;
                    line-height: 20px;
                }
                .login-block__position{
                    font-size: 12px;
                    line-height: 15px;
                    opacity: .5;
                }
                    .header-login .login-block__messages{
                        position: relative;
                        padding-left: 68px;
                        white-space: normal;
                        background: #566ca7 url("../images/group.svg") no-repeat left top;
                        background-size: 32px;
                        background-position: 24px 14px;
                    }
                        .header-login .login-block__messages:hover{
                            background: #566ca7 url("../images/group.svg") no-repeat left top;
                            background-size: 32px;
                            background-position: 24px 14px;
                        }
                .header-login .basket-block{
                    padding-left: 56px;
                    align-items: center;
                }
                    .login-block__basket{
                        display: inline-block;
                        padding: 0 8px;
                        margin-left: 4px;
                        font-size: 12px;
                        line-height: 15px; 
                        height: 15px;
                        border-radius: 9px;
                        background: red;
                    }

/*Новостная лента*/
.news-feed{
    padding-right: 0;
}
.sidebar-news{
    padding: 24px 24px 40px 24px;
    margin: 0;
    list-style: none;
    /* width: 280px; */
    background: #f3f3f3;
}
    .sidebar-news li{
        padding-bottom: 32px;
    }
    .sidebar-news li:last-child{
        padding-bottom: 0;
    }

/*Каталог*/
.catalog{
    padding-left: 0; 
}
    .catalog__nav a{
        position: relative;
        display: block;
        margin: 0;
        /* width: 280px; */
        border-bottom: 1px;
        background: #f3f3f3;
    }
        .catalog__nav a::before{
            content: '';
            position: absolute;
            top: 50%;
            right: 8px;
            width: 24px;
            height: 24px;
            transform: translateY(-50%);
            background: url("../images/arrow-right.png") no-repeat center;
            background-size: cover;
            opacity: .4;
        }
        .catalog__nav a::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: #000;
            opacity: .1;
        }
            .catalog__nav li:last-child a::after{
                display: none;
            }
        .catalog__nav p{
            display: table-cell;
            padding: 12px 32px 12px 56px;
            margin-bottom: 0;
            font-size: 13px;
            line-height: 16px;
            font-weight: bold;
            width: 100%;
            height: 72px;
            vertical-align: middle;
        }
        .catalog__nav img{
            position: absolute;
            top: 50%;
            left: 14px;
            transform: translateY(-50%);
        }

/*Новые поступления*/
        .blank-1{
            padding: 24px;
            /* width: 420px; */
            background: #f3f3f3;
        }
            .blank-1 p,
            .blank-2 p{
                padding-bottom: 16px;
                margin: 0;
                width: 50%;
                font-size: 16px;
                line-height: 20px;
            }
                .blank-2 p{
                    color: #fff;
                }
            .blank-1 h4,
            .blank-2 h4{
                line-height: 29px;
            }
                .blank-2 h4{
                    margin-bottom: 55px;
                }
            .carousel{
                height: 100%;
            }
            .carousel__nav{
                display: flex;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0;
                margin: 0;
                width: 100%;
            }
            .carousel-control{
                display: block;
                margin: 0;
            }
                .left.carousel-control{
                    margin-right: 6px;
                }
                .right.carousel-control{
                    margin-left: 6px;
                }
                .carousel-control .icon-prev{
                    display: block;
                    padding: 0;
                    margin: 0;
                    width: 24px;
                    height: 24px;
                    background: url("../images/arrow-left.png") no-repeat center;
                    background-size: cover;
                }
                .carousel-control .icon-next{
                    display: block;
                    padding: 0;
                    margin: 0;
                    width: 24px;
                    height: 24px;
                    background: url("../images/arrow-right.png") no-repeat center;
                    background-size: cover;
                }
                .blank-1 .carousel-indicators{
                    position: relative;
                    margin: 0;
                    margin-top: 17px;
                }
                    .blank-1 .carousel-indicators li{
                        display: block;
                        margin: 0 6px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: #2c3756;
                        opacity: .32;
                    }
                        .blank-1 .carousel-indicators li::after,
                        .blank-1 .carousel-indicators li::before{
                            display: none;
                        }
                    .blank-1 .carousel-indicators li.active{
                        opacity: 1;
                    }
        .blank-2{
            padding: 24px;
            padding-bottom: 32px;
            /* min-width: 500px; */
            background: linear-gradient(to bottom, #567ab2, #475994);
        }

.standarts{
    padding-bottom: 32px;
}
    .standarts:last-child{
        padding-bottom: 0;
    }
    h3{
        padding: 0;
        margin: 0;
        padding-bottom: 16px;
        font-size: 24px;
        font-family: Gravity sans-serif;
        line-height: 29px;
        color: #2c3756;
    }
        .card-group{
            display: flex;
            padding: 24px 24px 16px 24px;
            margin: 0;
            background: #f3f3f3;
        }
            .card{
                padding: 0;
                margin: 0;
                margin-right: 24px;
                width: calc(33% - 8px);
            }
            .card:last-child{
                margin-right: 0;
            }
                .standarts__image{
                    margin-bottom: 16px;
                    height: 120px;
                    width: 100%;
                    background: #212121;
                }
                .standarts__data{
                    padding: 0;
                    margin: 0;
                    padding-bottom: 8px; 
                    font-size: 14px;
                    font-weight: normal;
                    color: #2c3756;
                    opacity: .5;
                }
                .standarts__text{
                    display: block;
                    padding-bottom: 16px;
                    font-size: 14px;
                    color: #2c3756;
                }
                .news-button{
                    display: inline-block;
                    padding: 4px 16px 5px 16px;
                    font-size: 12px;
                    line-height: 15px;
                    color: #2c3756;
                    background: #fff;
                    border-radius: 12px;
                }
.main{
    min-width: 1520px;
}